@import url('buileds/input.css');
@import url('buileds/radio.css');
@import url('buileds/textarea.css');

.grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
}

fieldset{ 
      border: none; 
      margin-top: 1.5rem;
      header{
            display: flex;
            font: 700 1.12rem 'Baloo 2';
            gap: 0.75rem;
            color: var(--text-heading);
      }

}

.custom{
      margin-top: 4rem;
}

